
#container {
    padding-top: 25px;
}

#posts ul li {
    list-style-type: none;
}

#posts ul li a {
    font-size: 2em;
}

#posts ul li span {
    font-size: 1.5em;
}

#post .date {
    font-weight: bold;
    font-style: italic;
}

#home_link {
    position: fixed;
    top: 2px;
    left: 10px;
    font-size: 25px;
}

@media print {
    .noprint {
        display: none;
    }
}